.category-page-div{
    display: block;
    min-height: 100vh;
    overflow: scroll;
    
    width: 100%;
}
.category-page-div::-webkit-scrollbar {
    display: none;
  }
.categories-list-ul{
position: relative;
display: grid;
grid-template-columns: 45vw 45vw;
justify-content: space-evenly;
width: 100%;
column-gap: 10px;
row-gap: 10px;
}
.category-card-li{
    position: relative;
    display: block;
    width: inherit;
    height: 180px;
    }




@media screen and (min-width: 480px) {
    .categories-list-ul{
        grid-template-columns: 30vw 30vw 30vw;
       
        }

}
      
@media screen and (min-width: 768px) {
    .categories-list-ul{
        grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
       
        }

}

@media screen and (min-width: 1024px) {
    .categories-list-ul{
        grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
       
        }

}

@media screen and (min-width: 1200px) {
    .categories-list-ul{
        grid-template-columns: 25vh 25vh 25vh 25vh 25vh 25vh;
       
        }

}