.category-card {
  border: 1px solid rgb(255, 110, 199);
  border-radius: 20px;
  margin: 5px;
  display: block;
  position: relative;
  width: inherit;
  height: inherit;
}

.category-picture-placeholder{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 70%;
  width: inherit;
  display: inline-flex;
  justify-content: center;
}

.category-name-placeholder{
  position: absolute;
  top: 80%;
  left: 0%;
  border-top: 1px solid grey;
  height: 20%;
  width: inherit;
  display: inline-flex;
  justify-content: center;
}
.category-image {
  width: 90%;
  padding-top: 5%;
  object-fit: contain;
  height: 90%;
}

.category-name {
  font-size: 1.2rem;
  margin-top: 0%;
  width: inherit;
  height: inherit;
  
}