.product-card {
  border: 1px solid rgb(255, 110, 199);
  border-radius: 20px;
  margin: 0;
  display: block;
  position: relative;
  width: inherit;
  height: 100%;
  color: rgb(33, 13, 83);
  box-shadow: 2px 4px rgb(253, 221, 230);
}

.picture-placeholder{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 70%;
  width: inherit;
  display: inline-flex;
  justify-content: center;
}

.name-placeholder{
  position: absolute;
  top: 70%;
  left: 0%;
  border-top: 1px solid rgb(255, 110, 199);
  border-radius: 15px;
  height: 20%;
  width: inherit;
  display: inline-flex;
  justify-content: center;
}

.price-placeholder {
  position: absolute;
  top: 85%;
  left: 0%;
  border-top: 1px solid rgb(255, 110, 199);
  height: 10%;
  width: inherit;
  display: inline-flex;
  justify-content: center;
}

.product-image {
  width: 90%;
  height: 90%;
  padding-top: 5%;
  object-fit: contain;
}

.product-name {
  font-size: 1.1rem;
  margin-top: 0%;
  width: inherit;
  height: inherit;
  
}
.product-price {
  font-size: 1.1rem;
  margin-top: 0%;
  color: rgb(11, 192, 80);
  width: inherit;
  height: inherit;
  
}