html, body{
    margin:0;
    padding:0;
    background-color: white;
 }
 * {
  box-sizing: border-box;  
 }
 ::-webkit-scrollbar-thumb{
    background:  rgb(224, 17, 95);
    border-radius: 5px;
 }
 

 ::-webkit-scrollbar {
    background: rgb(255, 209, 220);
  border-radius: 10px;
 }