.app-div{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  position: relative;
  display: block;
}

.nav-bar {
  height: 100%;
}
.container {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    min-height: 200vh;
    max-height: 500vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: auto;
  }
  .footer-div {
    height: 250px;
    width: 100%;
  }